/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

:host {
    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
      180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
      90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );
}
html, body { 
    height: 100%; 
}

body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
}

.icon {
    width: 21.531px;
    height: 24.913px;
    margin: 10px 5px 0px 15px;
}
.icon-text {
    color: #FEFEFE;
    font-size: 20px;
    font-weight: 400;
    margin: 15px 5px 0px 0px;
}
.nav {
    align-items: end;
}
h3 {
    color: #696969;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    margin-right: 10px;
}
h1 {
    color: #FEFEFE;
    font-size: 35px;
    font-weight: 900;
    line-height: 30px;
    margin-bottom: 25px;
}
form {
    display: block !important;
    width: 65%
}

.tc {
    position: fixed;
    bottom: 15px;
    gap: 10px;
}

.tc > :hover {
    color: #FEFEFE;
}

::placeholder {
    color: #696969 !important;
}
input {
    color: #FEFEFE;
    background-color: transparent;
    border-bottom: solid 2px #696969;
    width: 100%;
    padding: 5px 0px 5px 0px;
    outline: none;
}
small {
    color: red;
}
.error-input {
    border-bottom: solid 2px rgba(255, 0, 0, 0.521)
}

.halved {
    width: 100%;
}
.redBottom {
    border-bottom: solid 2px red !important;
}
.redBottom::placeholder {
    color: red !important;
}
.active {
    background: linear-gradient(90deg, rgb(233, 229, 5) 0%, rgb(187, 8, 231) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}